$white: #fffbf2;

* {
  box-sizing: border-box;
}

html,
body {
  background-color: $white;
  margin: 0;
  font-family: 'Consolas', monospace;
}

.grid {
  margin: 10px;
}

.cell {
  text-align: center;
  background-color: #999;
}

.cell-rock {
  background-color: #84703e;
}

.cell-water {
  background-color: #53bbc6;
}

.cell-grass {
  background-color: #81bc32;
}
