$white: #fffbf2;

* {
  box-sizing: border-box;
}

html,
body {
  background-color: $white;
  margin: 0;
  font-family: 'Consolas', monospace;
}

body {
  padding: 10px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.grid {
  position: relative;
  margin-top: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(20, 40px); // TODO move into JS land
}

.cell {
  text-align: center;
  background-color: #999;
}

.cell-rock {
  background-color: #84703e;
}

.cell-water {
  background-color: #53bbc6;
}

.cell-grass {
  background-color: #81bc32;
}
